.h2{
    font-family: 'Jaldi';
    font-weight: bold;
    color: #137dc5;
    font-size: 2.5rem;
}
.h3{
    font-family: 'Jaldi';
    font-weight: bold;
    color: #137dc5;
    font-size: 1.5rem;
}
.h4{
    font-family: 'Jaldi';
    font-weight: bold;
    color: #313981;
    font-size: 2rem;
}
.h5{
    font-family: 'Jaldi';
    color: #313981;
    font-size: 1rem;
}