.h1{
    font-family: 'Jaldi';
    font-weight: bold;
    color: #313981;
    font-size: 2.5rem;
}
.h2{
    font-family: 'Jaldi';
    font-weight: bold;
    color: #313981;
    font-size: 2.5rem;
}
.h3{
    font-family: 'Jaldi';
    font-weight: bold;
    color: #313981;
    font-size: 1.5rem;
}
.h4{
    font-family: 'Jaldi';
    font-weight: bold;
    color: #313981;
    font-size: 2rem;
}
.h5{
    font-family: 'Jaldi';
    color: #313981;
    font-size: 1rem;
}
.h6{
    font-family: 'Jaldi';
    color: #313981;
    font-size: 1rem;
    font-weight: bold;
}
.h7{
    font-family: 'Jaldi';
    font-weight: bold;
    color: black;
    font-size: 1.2rem;
    margin-top: 0.5rem;
}