.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px;
    border-color: black;
    background-color: aqua;
}

.boton{
    border-color: black;
    background-color: beige;
    border: 1px;
}