.passwordgrupoRepeat{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
}
.psswtextRepeat{
    display: flex;
    align-items: center;
    width: 70%;
}