.formderegistro{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}
.registro1{
    display: flex;
    align-items: center;
    padding: 0.25rem;
    gap: 0.5rem;
    width:100%
}
.textos{
    width: 60%;

}
.inputs{
    width: 20%;
}