.types{
    display: flex;
    gap: 1rem;
    justify-content: left;
}
.filter{
    margin-top: 6.5rem;
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-right: 3rem;
}
.filter h2{
    font-family: 'Jaldi';
    font-weight: bold;
    color: #313981;
    font-size: 1.5rem;
}
.botonFiltro{
    background-color: #ffc61b;
    color: #313981;
    font-family: 'Jaldi';
    font-weight: bold;
    padding: 0.4rem;
    width: 4rem;
    height: 1.8rem;
    border-radius: 8px;
    font-size: 0.8rem;
}
.botonFiltro:hover{    
    background-color: #f23084;
    color: white;
}