.cabecera{
    position: fixed;
    top: 0;
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    color: #4f42e1;
}
.logoName{
    width: 10rem;
    position: fixed;
    top: 0;
    margin: 0.5rem;
}
.logoCat{
    width: 5rem;
    margin-left: 2rem;
    position: fixed;
    top: 0;
    left: 0;
}
