.petProfilePage{
    margin-top: 6.5rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-right: 3rem;
}
.petProfilePage h2{
    font-family: 'Jaldi';
    font-weight: bold;
    color: #4f42e1;
    font-size: 2.5rem;
}
.petProfilePage h3{
    font-family: 'Jaldi';
    color: #4f42e1;
    font-weight: bold;
    font-size: 1.5rem;
}
.petProfilePage h4{
    font-family: 'Jaldi';
    color: black;
    font-size: 1.0rem;
    display: flex;
}
.petProfilePage a{
    font-family: 'Jaldi';
    color: black;
    font-size: 1.0rem;
    font-weight: bold;
}
.petProfileBlocks{
    display: flex;
    justify-content: space-around;
    gap: 1rem
}
.smallInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #bcb9db;
    border-radius: 15px;
    padding: 1rem;
    width: 20rem;
}
.smallestInfo{
    padding: 0.5rem;
    width: 15rem;
}
.bigInfo{
    display: flex;
    flex-direction: column;
    border: 1px solid #bcb9db;
    border-radius: 15px;
    padding: 1rem;
    width: 50rem;
}
.picture{
    width: 12rem;
    margin-bottom: 1rem;
}
.button{
    display: flex;
    flex-direction: column;
    align-self: center;
}
hr.divider {
    border-top: 1px solid #bcb9db;
    border-radius: 5px;
    width: 90%;
    display: flex;
    margin: 1rem;
  }